.wrapper {
    width: 90%;
    margin: 0 auto;
    margin-top: 2vw;
    max-width: 1700px;
  }

.periodic-table {
    display: grid;
    grid-template-columns: repeat(18, auto) 1fr;        
}

.element {
    cursor: pointer;  
    border: 0.5px solid #000;    
    width: 5vw;
    height: 5vw;
    overflow: hidden;  
    box-sizing: border-box;
  }

.element:hover {
    transform: scale(1.2, 1.2);
    z-index: 1;
  }

.element .symbol {
    font-weight: bold;
    text-align: center;
 
    font-size: 1.75vw;
}

.element .number {   
    font-size: 0.5vw;    
}

.element .name {
    font-size: 0.8vw;     
    text-align: center;
  
}

@media (min-width: 376px) {
    .wrapper {
      width: 90%;
    }
  
    .element {
      border: 0.5 solid #000;
      width: 5vw;
      height: 5vw;
    }
}

@media (max-width: 375px) {
    .wrapper {
      width: 100%;
    }
  
    .element {
      border: 0.5 solid #000;
      width: 7vw;
      height: 7vw;
    }
}
  